  /* CURRENT TRACK */

.header-img {
  background-image: url(./assets/nnneon.svg);
  height: 35vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  filter: drop-shadow(2px 1px 2px rgb(32, 32, 32));
  text-align: center;
}

.current-track {
  text-align: center;
  border: 1px solid rgb(118, 255, 118);
  border-radius: .5rem;
  width: fit-content;
  padding: 1rem 1.2rem 1rem 1.2rem;
  margin: 0 auto;
}

.current-track p {
  font-weight: bold;
}

.current-track span {
  color: rgb(118, 255, 118);
  font-weight: normal;
}


/* LANDING PAGE */

.intro {
  background-image: url(./assets/ttten.svg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text {
  width: 40vw;
  margin: 5rem;
}

.intro p {
  letter-spacing: 1px;
  line-height: 1.7;
  text-align: center;
}

/* TOP ARTISTS */

.artist {
  font-weight: bold;
}

.top-artists,
.top-artists-long {
  display: flex;
  flex-direction: column;
}

.top-artists img, 
.top-artists-long img {
  width: 60px;
  height: 60px;
  margin: -5px;
  margin-left: .1rem;
  border-radius: 50%;
}

/* TOP TRACKS */

.top-tracks img, 
.top-tracks-long img {
  width: 60px;
  height: auto;
  margin-top: .5rem;
}

.top-tracks span,
.top-tracks-long span {
  margin-left: .5rem;
}

/* TRACKS & ARTISTS */

.top-div {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

.list-div {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.top-tracks p,
.top-tracks-long p {
  margin-left: 1rem;
}

.top-artists p,
.top-artists-long p {
  margin-left: 2rem;
}

.top-artists, 
.top-tracks {
  /* border: 1px solid #1db9548a; */
  border-radius: 1rem;
  background-color: #25252587;
  width: 45vw;
  padding: 1.5rem;
  margin: 1rem;
}


/* LONG TERM TRACKS & ARTISTS */

.long-term {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

.top-artists-long,
.top-tracks-long {
  border-radius: 1rem;
  background-color: #25252587;
  width: 45vw;
  padding: 1.5rem;
  margin: 1rem;
}

/* LONG / SHORT TERM BUTTON */

.switch-btn-cont {
  display: flex;
  justify-content: flex-start;
}

.switch-btn  {
  background: transparent;
  border: 1px solid rgb(118, 255, 118);
  padding: .9rem;
  margin: 5rem 0 -5rem 6rem;
}


/* USER */

.user-img img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.user-img {
  display: flex;
  justify-content: center;
  margin: 2rem;
}


/* MOBILE */

@media screen and (max-width: 600px) {


  .intro h2 {
    font-size: 2rem;
    text-align: center;
  }

  .top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .top-artists,
  .top-tracks,
  .list-div {
    width: 95vw;
    padding: 0;
  }

  .top-div p, span {
    font-size: .7rem;
  }

  .top-div img {
    width: 50px;
    height: 50px;
  }

  h3 {
    text-align: center;
  }

  .top-artists p {
    padding-left: 1rem;
  }

  .current-track p, span {
    font-size: 0.7rem;
  }
}