@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
}

body {
  background: #181818;
  color: rgb(237, 237, 237);
  font-family: "Work Sans", sans-serif;
  position: relative;
}

h2 {
  letter-spacing: 2px;
  font-size: 3rem;
  background: linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  letter-spacing: 2px;
}

h4 {
  text-align: center;
}

p {
  display: inline-block;
}

li p {
  font-size: 1.2rem;
}

li {
  list-style: decimal;
  font-size: 1.3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.heading {
  backdrop-filter: blur(10px);
  padding: 1rem;
}

footer {
  border-top: 1px solid #333;
  padding: 0.2rem;
  text-align: center;
}

footer img {
  width: 100px;
  height: auto;
}

/* BUTTONS */

button p {
  font-family: inherit;
  margin-right: 0.5rem;
  font-size: 1rem;
}

button {
  background-image: linear-gradient(
    to right,
    #52c234 0%,
    #061700 51%,
    #52c234 100%
  );
  margin: 1rem;
  padding: 1rem 2rem;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.log-out {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.log-out button {
  border-radius: 0.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
  color: white;
}

.list-div {
  cursor: pointer;
}


.top-artists {
  position: relative;
}

/* MODAL */

.artist-modal {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.357);
  transition: all 0.3s ease-in-out;
}

.artist-detail {
  background-color: #fff;
  border-radius: 11px;
  padding: 2rem;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 0.3s ease-in-out;
}

.artist-detail img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.artist-detail .details {
  line-height: 1.7;
}

.artist-detail .details h2 {
  text-transform: uppercase;
}

.artist-detail .details p {
  display: block;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.artist-detail button {
  margin: 1rem 0 0 0;
}

.artist-detail span {
  display: inline-block;
  width: 150px;
}
